body {
  background-color: #f7f7f7;
  font-family: "Arial", sans-serif;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

input {
  width: calc(33% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0056b3;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background: #f4f4f4;
}

.edit-btn {
  background: #28a745;
  padding: 5px 10px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.edit-btn:hover {
  background: #218838;
}

.navbar {
  background-color: #6c7ae0;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 24px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #6c7ae0;
}

button {
  background: #6c7ae0;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.edit-input {
  width: 60px;
}
.add-btn {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.error-text {
  font-size: 8px;
  color: rgb(180, 35, 35);
}